csc-330/Week 4 Project Management.pdf
csc-330/Week 7 Modeling with UML.pdf
csc-330/Week 8 Functional Modeling.pdf
csc-330/Week 7 Modeling with UML - Use Case.pdf
csc-330/Week1 information.pdf
csc-330/Week1 introduction.pdf
csc-330/Week2 Agile development.pdf
csc-330/Week2 process models.pdf
csc-330/Week3 requirement engineering.pdf
csc-212/Trees.pdf
csc-212/assignments/Assignment6/.vscode
mgt-305/Plenary Session V, MBTI Personality Type Test.pdf
mgt-305/Careers_For_Yours_Personality (MBTI).pdf
mgt-305/Case_Study_Sample_Annotated_08.31.2015.pdf
mgt-305/20090212013008_560.pdf
csc-212/*.ppt
csc-212/*.docx
csc-212/*.pdf
csc-330/Week 11 Dynamic Modeling.pdf
csc-330/no_magic_quick_reference_guide_uml.pdf
csc-330/UML.pdf
